.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp*

/.quarto/
**/*.quarto_ipynb

#All fits results from activity models
Data/Raw/
Data/Analyzed/Activity/AK.all.fits.rds

#raw data 
Data/NABatOccupancy2015-2023.xlsx

#draft reports
DraftReports/

#clean up code
Code/IncorporateNewCovariates.R

#Results from models including 2017
Figures/DOccupancy/2017-2025
Data/Analyzed/Occupancy/fits_2017